<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影乐宝</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/plugin/layui/css/layui.css">
</head>
<body>

<div th:replace="header::header"></div>

<div class="container">
    <div class="layui-bg-gray" style="padding: 16px; margin-top: 80px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">留言列表</div>
                    <div class="layui-card-body">
                        <div class="card" th:each="feedback, status: ${feedbackPage.records}">
                            <div class="layui-row layui-col-space4">
                                <div class="layui-col-md1">
                                    <img style=" width: 48px; height: 48px; border: 1px solid #FF8D1B; border-radius: 50%;"
                                         th:src="${feedback.avatar}"/>
                                </div>
                                <div class="layui-col-md6">
                                    <p th:text="${feedback.nickname}"></p>
                                    <p th:text="${feedback.content}"></p>
                                </div>
                                <div class="layui-col-md3">
                                    <p th:text="${#dates.format(feedback.ftime, 'yyyy-MM-dd')}"></p>
                                </div>
                                <div class="layui-col-md2">
                                    <p>第<span th:text="${status.count}" style="color: #ffb800"></span>条留言</p>
                                </div>
                            </div>
                            <hr class="ws-space-16">
                        </div>
                        <div id="page" style="text-align: center;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">留言</div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <textarea name="content" placeholder="请输入你想要留言的内容" lay-verify="required"
                                      class="layui-textarea"></textarea>
                            <hr class="ws-space-16">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <input type="text" name="captcha" lay-verify="required|captcha" placeholder="验证码"
                                           class="layui-input">
                                </div>
                                <div class="layui-col-md4">
                                    <img id="captcha-img" alt="验证码" style="width: 100%;">
                                </div>
                                <div class="layui-col-md4">
                                    <button type="button" class="layui-btn layui-bg-orange"
                                            lay-submit lay-filter="submitFeedback" style="width: 100%;">
                                        提交留言
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer::footer"></div>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/login_register.js"></script>
<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script th:inline="javascript">
    var total = [[${feedbackPage.total}]];
    var curr = [[${feedbackPage.current}]];
    var size = [[${feedbackPage.size}]];
</script>
<script>
    window.onload = function () {
        initPublic();
        initLoginPage();
    };
    layui.use(function () {
        var $ = layui.$;
        var form = layui.form;
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page',
            count: total,
            curr: curr,
            limit: size,
            theme: '#FFB800',
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = '/page/feedback/' + type + '?pageNo=' + obj.curr + '&pageSize=' + obj.limit;
                }
            }
        });

        // 自定义验证规则
        form.verify({
            captcha: function (value, item) {
                if (value !== getSession("Captcha").toLowerCase()) {
                    return '验证码错误！';
                }
            }
        });

        // 提交事件
        form.on('submit(submitFeedback)', function (data) {
            $.ajax({
                url: "/api/feedback",
                data: JSON.stringify(data.field),
                method: "POST",
                dataType: "json",
                contentType: 'application/json',
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.message);
                        window.location.href = "/page/login";
                    } else {
                        layer.msg(res.message);
                        window.location.reload();
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>