<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link href="/static/plugin/layui/css/layui.css" rel="stylesheet">
</head>

<body>
<header class="header" th:fragment="header">
    <div class="container">
        <!--logo-->
        <a th:href="@{/page/index}" class="logo"></a>
        <!--导航标签-->
        <div class="nav">
            <ul class="navbar">
                <li><a th:href="@{/page/index}" class="active">首页</a></li>
                <li><a th:href="@{/page/movie}">电影</a></li>
                <li><a th:href="@{/page/rank}">排行</a></li>
                <li><a href="javascript:;">反馈</a></li>
            </ul>
        </div>
        <!--购物车-->
        <div class="headcart">
            <i class="cart-icon"></i>
            <b class="card-num"></b>
            <div class="card-tip"></div>
        </div>
        <!--用户登陆注册-->
        <div class="user">
            <div class="userout" th:unless="${session.user}">
                <a th:href="@{/page/login}" class="login cur">登录</a>
                <a th:href="@{/page/register}" class="register cur">注册</a>
            </div>
            <div class="userin" th:if="${session.info}">
                <a href="javascript:;" class="menu-item-user">
                    <img class="user-face" id="avatar" th:src="${session.info.avatar}" alt="头像">
                    <span class="user-name" id="nickname" th:text="${session.info.nickname}"></span>
                </a>
                <span class="caret"></span>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;">个人中心</a></li>
                    <li><a th:href="@{/api/user/logout}">退出登录</a></li>
                </ul>
            </div>
        </div>
        <!--搜索栏-->
        <div class="search">
            <form class="form-search" action="" method="">
                <input type="text" id="search-input" class="form-search-input" placeholder="搜电影、影院"
                       autocomplete="off"/>
                <a class="form-search-icon" href="javascript:;" onclick="searchBtnClick(this,event)"></a>
            </form>
        </div>

        <!--APP下载-->
        <div class="app-download">
            <span class="phone-icon"></span>
            <span class="app-text">下载APP</span>
            <span class="caret"></span>
            <div class="qrcode-tip">
                <img class="qrcode-img" src="/static/image/dingdang-qrcode.png" alt="扫描二维码下载APP"/>
                <p class="qrcode-tip-title">扫码下载客户端</p>
                <p class="qrcode-tip-content">手机购票 方便实惠</p>
            </div>
        </div>
    </div>
</header>
</body>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/slidey.js"></script>
<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript">
    window.onload = function () {
        initPublic();
        var $ = layui.$;
        $.ajax({
            url: "/api/user/info",
            method: "GET",
            dataType: "json",
            success: function (res) {
                setSession("info", res.data);
                $('#avatar').attr('src', res.data.avatar);
                $('#nickname').text(res.data.nickname);
            }
        });
    };

    layui.use(function () {
        var $ = layui.$;
        var util = layui.util;
        var form = layui.form;

        layer.ready(function () {
            $.ajax({
                url: "/api/user/info",
                method: "GET",
                dataType: "json",
                success: function (res) {
                    setSession("info", res.data);
                    $('#avatar').attr('src', res.data.avatar);
                    $('#nickname').text(res.data.nickname);
                }
            });
        });
    });
</script>
</html>