<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影 - 影乐宝</title>
    <link rel="stylesheet" type="text/css" href="/static/css/movie_detail.css">
    <link rel="stylesheet" type="text/css" href="/static/plugin/layui/css/layui.css">
</head>
<body>
<div th:replace="header::header"></div>
<div class="content">
    <div class="body-bg"></div>
    <div class="container">
        <!-- 电影信息栏 -->
        <div class="movie-info-bar clearboth">
            <div class="movie-poster">
                <img th:src="@{/static/image/{image}(image=${movie.image})}" th:alt="${movie.title}">
            </div>
            <div class="movie-info">
                <p th:text="${movie.title}" class="movie-name-zh"></p>
                <p class="movie-name-ods">副标题（待完善）</p>
                <ul>
                    <li>
                        <p>上映时间：<span th:text="${#dates.format(movie.year, 'yyyy年MM月dd日')}"></span></p>
                    </li>
                    <li>
                        <p>导演：<span>导演（待完善）</span></p>
                        <p>地区：<span th:text="${movie.region}"></span></p>
                    </li>
                    <li>
                        <p>主演：<span th:text="${movie.actor}"></span></p>
                    </li>
                    <li>
                        <p>题材：<span th:text="${movie.genre}"></span></p>
                    </li>
                    <li>
                        <p>类型：<span th:text="${movie.type}"></span></p>
                        <p>片长：<span>时长（待完善）</span></p>
                    </li>
                    <li>
                        <p class="movie-profile">简介：<span th:text="${movie.description}"></span>
                        </p>
                    </li>
                </ul>
                <div class="movie-wish-grade-btn clearboth">
                    <a class="movie-wish-btn flexcenter fl" th:href="@{/page/watch/{mid}(mid=${movie.mid})}">
                        <i></i>
                        <span>立即观看</span>
                    </a>
                    <a class="movie-grade-btn flexcenter fl" lay-on="openRating">
                        <i></i>
                        <span>评分</span>
                    </a>
                </div>
            </div>
            <div class="movie-grade-box">
                <div class="grade-box">
                    <b id="rating" th:text="${movie.rating}" hidden></b>
                    <b><span id="integer"></span><sup>.</sup><sup id="decimal"></sup></b>
                    <p>总分：10</p>
                </div>
                <ul>
                    <li>
                        <p>评分：<span th:text="${movie.ratingCount}"></span>人</p>
                    </li>
                    <li>
                        <p>热点：<span th:text="${movie.popularity}"></span>万</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 电影主要栏 -->
        <div class="movie-main-container clearboth">
            <!-- 左边 -->
            <div class="main-content">
                <div class="tab-subtitle">
                    <a>影评</a>
                </div>
                <div class="list">
                    <div class="item" th:each="ratings : ${ratingsVos}" style="margin-top: 10px;">
                        <img style="margin-top: 20px;" th:src="${ratings.avatar}" class="avatar"/>
                        <div class="info">
                            <p class="name" th:text="${ratings.nickname}">张三</p>
                            <p class="text" th:text="${ratings.content}"></p>
                            <p class="time" th:text="${#dates.format(ratings.rtime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边 -->
        </div>
    </div>
</div>

<div id="ratingDialog" style="display: none;">
    <div style="padding:16px;">
        <form class="layui-form">
            <div class="layui-row layui-col-space5">
                <div class="layui-col-md2" style="margin-top: 13px;">
                    <label>评分</label>
                </div>
                <div class="layui-col-md10">
                    <div id="ratingText" name="rating"></div>
                </div>
            </div>
            <div class="layui-row layui-col-space5">
                <div class="layui-col-md2">
                    <label>评论</label>
                </div>
                <div class="layui-col-md10">
                    <textarea name="content" placeholder="请输入评论内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-row" style="margin-top: 20px;">
                <button style="width: 100%;" type="button" lay-submit lay-filter="rating"
                        class="layui-btn layui-bg-orange">
                    提交评分
                </button>
            </div>
        </form>
    </div>
</div>

<div th:replace="footer::footer"></div>
<div id="toTop"></div>

<script type="text/javascript" src="/static/plugin/jquery/jquery-3.7.1.js"></script>
<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script th:inline="javascript">
    var mid = [[${movie.mid + ''}]]
</script>
<script type="text/javascript">

    // 将浮点数整数和小数部分分离
    function splitDecimal(value) {
        var parts = value.toString().split('.');
        var integerPart = parseInt(parts[0], 10);
        var decimalPart = (parts.length > 1) ? parseFloat('0.' + parts[1]).toFixed(1) * 10 : 0;
        // 返回对象包含整数部分和小数部分
        return {integer: integerPart, decimal: decimalPart};
    }

    window.onload = function () {
        initPublic();
        initScrollToTop();

        var value = splitDecimal(rating.innerText);
        $('#integer').text(value.integer);
        $('#decimal').text(value.decimal);
    };

    var ratingRequest = {
        "mid": mid,
        "score": 10
    };

    layui.use(function () {
        layui.use(function () {
            var $ = layui.$;
            var layer = layui.layer;
            var util = layui.util;
            var form = layui.form;
            var rate = layui.rate;
            // 渲染评分组件
            rate.render({ // eg1
                elem: '#ratingText',
                value: 5, // 初始值
                text: true, // 展示文本
                half: true, // 开启半星
                choose: function (value) {
                    console.log(value);
                    ratingRequest["score"] = 2 * value;
                }
            });
            // 事件
            util.on('lay-on', {
                'openRating': function () {
                    layer.open({
                        type: 1,
                        shade: false, // 不显示遮罩
                        content: $('#ratingDialog'), // 捕获的元素
                        end: function () {
                            window.location.reload();
                        }
                    });
                }
            });

            form.on('submit(rating)', function (data) {
                ratingRequest["content"] = data.field["content"];
                $.ajax({
                    url: "/api/ratings",
                    data: JSON.stringify(ratingRequest),
                    method: "POST",
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.message);
                        } else {
                            layer.msg(res.message);
                            window.location.reload();
                        }
                    }
                });
                return false;
            });
        })
    });
</script>
</body>

</html>