<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/board-index.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link href="/static/plugin/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div th:replace="header::header"></div>
<div class="subnav" style="margin-top: 60px;">
    <ul class="navbar">
        <li>
            <a id="rank1" th:href="@{/page/rank/1}" th:classappend="${type == 1} ? 'active' : ''">周排行榜</a>
        </li>
        <li>
            <a id="rank2" th:href="@{/page/rank/2}" th:classappend="${type == 2} ? 'active' : ''">月排行榜</a>
        </li>
        <li>
            <a id="rank3" th:href="@{/page/rank/3}" th:classappend="${type == 3} ? 'active' : ''">总排行榜</a>
        </li>
        <li>
            <a id="rank4" th:href="@{/page/rank/4}" th:classappend="${type == 4} ? 'active' : ''">好评榜</a>
        </li>
    </ul>
</div>
<div class="container" id="app">
    <div class="content">
        <div class="wrapper">
            <div class="main">
                <dl class="board-wrapper">
                    <dd th:each="movie, status: ${rankMoviePage.records}">
                        <i class="board-index" th:classappend="${'board-index-'+ status.count}"
                           th:text="${status.count}"></i>
                        <a th:href="@{/page/movie/detail/{mid}(mid=${movie.mid})}" th:title="${movie.title}"
                           class="image-link">
                            <img th:src="@{/static/image/{image}(image=${movie.image})}" th:title="${movie.title}"
                                 class="board-img" style="width: 100%;"/>
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name">
                                        <a th:href="@{/page/movie/detail/{mid}(mid=${movie.mid})}"
                                           th:title="${movie.title}" th:text="${movie.title}"></a>
                                    </p>
                                    <p class="star">
                                        主演：<span th:text="${movie.actor}"></span>
                                    </p>
                                    <p class="releasetime">上映时间：<span
                                            th:text="${#dates.format(movie.year, 'yyyy-MM-dd')}"></span></p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score">
                                        <i th:if="${type == 4}" class="integer" th:text="${movie.rating}"></i>
                                        <i th:if="${type == 3}" class="integer" th:text="${movie.popularity}"></i>
                                        <i th:if="${type == 2}" class="integer" th:text="${movie.hitsMonth}"></i>
                                        <i th:if="${type == 1}" class="integer" th:text="${movie.hitsWeek}"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div id="page" style="text-align: center;"></div>
    </div>
</div>
<div th:replace="footer::footer" style="text-align: center;"></div>
</body>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script th:inline="javascript">
    var total = [[${rankMoviePage.total}]];
    var curr = [[${rankMoviePage.current}]];
    var size = [[${rankMoviePage.size}]];
    var type = [[${type}]];
</script>
<script type="text/javascript">
    layui.use(function () {
        var $ = layui.$;
        var util = layui.util;
        var form = layui.form;
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page',
            count: total,
            curr: curr,
            limit: size,
            theme: '#FFB800',
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = '/page/rank/' + type + '?pageNo=' + obj.curr + '&pageSize=' + obj.limit;
                }
            }
        });
    });
</script>
</html>
