<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册 - 影乐宝</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <link href="/static/plugin/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div th:replace="header::header"></div>
<div class="wrap" style="margin-top: 60px;">
    <div class="center-box">
        <div class="center-box-head">
            <h3 class="center-box-title">
                注册
                <span class="sign-switch">
                    已有账号？<a th:href="@{/page/login}">立即登录</a>
                </span>
            </h3>
        </div>
        <form class="layui-form" id="center-box-form">
            <div class="form-item">
                <i class="username-icon icon"></i>
                <input type="text" name="username" autocomplete="off" lay-verify="required|username"
                       placeholder="用户名">
            </div>
            <div class="form-item">
                <i class="e-mail-icon icon"></i>
                <input type="text" name="email" id="e-mail" autocomplete="off" lay-verify="required|email"
                       placeholder="邮箱"
                >
            </div>
            <div class="form-item">
                <i class="password-icon icon"></i>
                <input type="password" name="password" id="password" autocomplete="off" lay-verify="required|password"
                       placeholder="密码">
            </div>
            <div class="form-item">
                <i class="re-password-icon icon"></i>
                <input type="password" id="reg-password" autocomplete="off" lay-verify="required|confirmPassword"
                       placeholder="确认密码">
            </div>
            <button id="form-submit-btn" lay-submit lay-filter="register">注册</button>
        </form>
    </div>
</div>

<div th:replace="footer::footer"></div>

<script type="text/javascript" src="/static/js/main.js"></script>
<script src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript">
    window.onload = function () {
        initPublic();
    };

    layui.use(function () {
        var $ = layui.$;
        var util = layui.util;
        var form = layui.form;
        // 事件

        // 自定义验证规则
        form.verify({
            // 验证用户名，且为必填项
            username: function (value, elem) {
                if (value.length < 5) {
                    return '用户名不能小于 5 位';
                }
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^_)|(__)|(_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线';
                }
                if (/^\d+$/.test(value)) {
                    return '用户名不能全为数字';
                }
            },
            // 验证邮箱，且为必填项
            email: function (value, elem) {
                if (!new RegExp("^[A-Za-z0-9]+([-._][A-Za-z0-9]+)*@[A-Za-z0-9]+(-[A-Za-z0-9]+)*(\\.[A-Za-z]{2,6}|[A-Za-z]{2,4}\\.[A-Za-z]{2,3})$").test(value)) {
                    return '邮箱格式不正确';
                }
            },
            // 验证密码，且为必填项
            password: function (value, elem) {
                if (!/^[\S]{6,16}$/.test(value)) {
                    return '密码必须为 6 到 16 位的非空字符';
                }
            },
            // 确认密码
            confirmPassword: function (value, item) {
                var passwordValue = $('#password').val();
                if (value !== passwordValue) {
                    return '两次密码输入不一致';
                }
            }
        });

        // 提交事件
        form.on('submit(register)', function (data) {
            $.ajax({
                url: "/api/user/register",
                data: JSON.stringify(data.field),
                method: "POST",
                dataType: "json",
                contentType: 'application/json',
                success: function (res) {
                    layer.msg(res.message);
                }
            });
            return false;
        });
    });
</script>

</body>
</html>