<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="/static/plugin/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div id="demo-laypage-layout-1"></div>
<div id="demo-laypage-layout-2"></div>
<div id="demo-laypage-layout-3"></div>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="/static/plugin/layui/layui.js"></script>
<script>
    layui.use(function(){
        var laypage = layui.laypage;
        // 自定义排版
        laypage.render({
            elem: 'demo-laypage-layout-1',
            count: 1000,
            layout: ['limit', 'prev', 'page', 'next']
        });
        laypage.render({
            elem: 'demo-laypage-layout-2',
            count: 1000,
            layout: ['prev', 'next', 'page']
        });
        laypage.render({
            elem: 'demo-laypage-layout-3',
            count: 1000,
            layout: ['page', 'count']
        });
    });
</script>

</body>
</html>